.container-fluid {
    background-color: #F6D6D6;
    height: 100vh;
  }
  
  button {
    background-color: #A1EEBD;
    color: #0c311a;
  }
  
  button:hover {
    background-color: #A1EEBD;
    color: #0c311a;
  }